<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tejaswininimbalkar.krishisarathi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KrishiSarathi">
        <activity android:name=".Common.LoginSignup.User_SignUp"></activity>
        <activity android:name=".Common.LoginSignup.Verify_Otp_page" />
        <activity android:name=".Common.LoginSignup.Send_Otp_Page" />
        <activity android:name=".Common.LoginSignup.UserSignIn_page" />
        <activity android:name=".User.ContainerActivity" />
        <activity android:name=".User.UserLogin" />
        <activity android:name=".User.SelectLanguage" />
        <activity android:name=".User.UserSettings" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>