<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tejaswininimbalkar.krishisarathi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KrishiSarathi">
        <activity android:name=".ResetPassUsingCurrentPass" />
        <activity android:name=".Common.LoginSignup.User_Forgot_Page" />
        <activity android:name=".Common.LoginSignup.Successful_create" />
        <activity android:name=".Common.LoginSignup.Reset_Password" />
        <activity android:name=".Common.LoginSignup.Forgot_Selection" />
        <activity android:name=".Common.LoginSignup.User_SignUp" />
        <activity android:name=".Common.LoginSignup.Verify_Otp_page" />
        <activity android:name=".Common.LoginSignup.Send_Otp_Page" />
        <activity android:name=".Common.LoginSignup.UserSignIn_page" />
        <activity android:name=".User.EditProfileActivity" />
        <activity
            android:name=".Common.ContainerActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".Common.Localization.SelectLanguage" />

        <activity android:name=".User.UserSettings" />
        <activity android:name=".Common.Dashboard.GridItemActivity" />
        <activity android:name=".Common.OnBoarding.OnBoarding" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Owner.OwnerLoginActivity" />
        <activity android:name=".Owner.Owner_RegistrationActivity" />
        <activity android:name=".Owner.Owner_Welcome" />
        <activity android:name=".Owner.Equipment.Equipment_Add" />
        <activity android:name=".Owner.Equipment.EquipmentGetInfoFromOwner" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>